<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    
    <form action="/" method="POST">
      <label for='phrase'>Enter your phrase:
        <input name="user_phrase" type="text" id='phrase'>
      </label>
      <input id="Submit" type="submit">
    </form>
    
  </body>
</html>



<!DOCTYPE html>
<html>
  <head>
  <meta charset=\"UTF-8\">
  <title>title</title>\n  </head>...n      </label>\n      <input id=\"Submit\" type=\"submit\">\n    </form>\n    \n  </body>\n</html>" to include "Pig Latinizer!"